<div class="d-flex justify-content-center mt-3">
    <div class="card align-items-center pb-3" style="width: 600px">
        <h1 class="text-center">The page you requested was not found!</h1>
        <button><a class="public-repo-button" href="/">GO TO INDEX</a></button>
    </div>
</div>
