<div class="d-flex justify-content-center mt-3">
    <form class="card p-3" autocomplete="on" action="/repository/findPublic" method="post">
        <h1>Welcome to D&F Share!</h1>
        <label for="publicSearch">Search public data:</label>
        <input type="text" id="publocSearch" name="fileName">
        &nbsp&nbsp
        <input type="submit" class="actbutton">
        <hr/>
        <button><a class="public-repo-button mx-auto" href="/repository/public">Public repository</a></button>
    </form>
</div>

