<div class="d-flex justify-content-center mt-3">
    <form class="card p-3 align-items-center" method="post" autocomplete="on" action="/user/login">
        <h1>Log in:</h1>
        <label for="exampleInputEmail1">Email address</label>
        <input type="text" name="email" aria-describedby="emailHelp"
               placeholder="Enter email">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" name="password" placeholder="Password">
        <input type="submit" value="Log in" class="actbutton mt-3"/>
        <button class="actbutton mt-3" type="button"><a class="btn" href="/google">Log in with Google</a></button>
    </form>
</div>

